.button {
  padding-block: 12px;
  padding-inline: 24px;
  min-width: 158px;
  min-height: 40px;
  border: none;
  font-size: var(--font-size-heading-xs);
  line-height: 15.62px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-md);

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms ease-in;

    &:hover {
      transition: all 50ms ease-out;
    }
  }

  &--dark {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-grey);
      color: var(--color-black);
    }
  }

  &--light {
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-grey);
    }
  }
}
