.story {
  position: relative;
  color: var(--color-white);

  display: grid;
  position: relative;
  grid-template-columns: 610fr 830fr;
  grid-template-areas: 'content _';

  @media screen and (max-width: 90rem) {
    grid-template-columns: 495fr 273fr;
  }

  @media screen and (max-width: 40.465rem) {
    height: revert;
    grid-template-areas: 'img img' 'content content';
    grid-template-rows: 317px auto;
    background-color: var(--color-black);
  }

  picture {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media screen and (max-width: 40.465rem) {
      grid-area: img;
    }
  }

  &__content {
    grid-area: content;
    max-width: 387px;
    z-index: 2;
    padding-block: 122px;
    margin-inline-start: 112px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1,
    h2 {
      text-transform: uppercase;
    }

    > span {
      display: flex;
      gap: 9px;
      margin-block-start: -8px;
      align-items: baseline;
    }

    > a {
      align-self: start;

      &::after {
        content: '';
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(
          68.48% 68.48% at 0% 100%,
          #ffc593 0%,
          rgba(188, 113, 152, 0.496968) 52.36%,
          rgba(90, 119, 255, 0.0001) 100%
        );
        opacity: 0;

        @media (prefers-reduced-motion: no-preference) {
          transform: scale(0);
          transform-origin: left bottom;
          transition: opacity 1000ms ease-out, transform 350ms ease-out;
        }
      }
    }

    > a:hover {
      &::after {
        opacity: 0.49;

        @media (prefers-reduced-motion: no-preference) {
          transition: opacity 200ms ease-in, transform 50ms ease-in;
          transform: scale(1);
        }
      }
    }

    @media screen and (max-width: 40.465rem) {
      margin: 0;
      padding-block: 48px;
      padding-inline: 29px 28px;
      justify-self: center;
    }
  }

  &__description {
    max-width: 387px;
  }

  &__author,
  time {
    font-size: var(--font-size-heading-xs);
    line-height: var(--line-height-sm);
  }

  &__description,
  time {
    opacity: 0.75;
  }
}
