.header {
  padding-block: 16px;
  padding-inline: 165px;

  background-color: var(--color-white);
}

.container {
  margin-inline: auto;
  max-width: calc(1120rem / 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
