.section {
  display: grid;
  position: relative;
  grid-template-columns: 610fr 830fr;
  grid-template-areas: 'content img';

  @media screen and (max-width: 47.9999rem) {
    grid-template-columns: 495fr 273fr;
  }

  @media screen and (max-width: 28.75rem) {
    height: revert;
    grid-template-areas: 'img img' 'content content';
    grid-template-rows: 294px auto;
  }

  &--dark {
    background-color: var(--color-black);
  }

  &--light {
    background-color: var(--color-white);
    min-height: 600px;

    & :is(h1, h2, p) {
      color: var(--color-black);
    }

    .section__content {
      padding-block: 0;
      align-self: center;
    }

    @media screen and (max-width: 28.75rem) {
      min-height: 690px;
    }
  }

  &--reversed {
    grid-template-columns: 830fr 610fr;
    grid-template-areas: 'img content';

    @media screen and (max-width: 47.9999rem) {
      grid-template-columns: 273fr 495fr;
    }
    @media screen and (max-width: 28.75rem) {
      grid-template-areas: 'img img' 'content content';
    }
  }

  &__content {
    --padding-block-mobile: 72px;

    height: fit-content;
    color: var(--color-white);
    grid-area: content;
    padding-block: 173px;

    @media screen and (max-width: 28.75rem) {
      padding-block: var(--padding-block-mobile);
    }

    & :is(h1, h2) {
      max-width: 14ch;
      margin-block-end: 21px;
      text-transform: uppercase;

      @media screen and (max-width: 28.75rem) {
        margin-block-end: 11px;
      }
    }

    & p {
      min-width: calc(378rem / 16);
      max-width: 30ch;
      opacity: 0.6;

      @media screen and (max-width: 47.9999rem) {
        min-width: 0;
      }

      &:not(:last-child) {
        margin-block-end: 48px;

        @media screen and (max-width: 28.75rem) {
          min-width: 0;
          margin-block-end: 20px;
        }
      }
    }
  }

  & picture {
    height: 100%;
    width: 100%;
    grid-area: img;
    position: absolute;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.decoration {
  width: 6px;
  height: 100%;
  background: linear-gradient(26.57deg, var(--main-accent));
  position: absolute;
  left: 0;

  @media screen and (max-width: 28.75rem) {
    grid-column: 1;
    width: 128px;
    height: 6px;
    top: calc(var(--padding-block-mobile) * (-1));
  }

  &[data-on-hover='true'] {
    transition: transform 200ms ease-in;
    transform: translateX(-100%);

    @media screen and (max-width: 47.9999rem) {
      transform: translateX(0);
    }
  }

  &__wrapper {
    display: grid;
    place-content: center;
    width: 100%;
    position: relative;
    height: fit-content;
    padding-inline: 112px 111px;

    & > a:hover + .decoration[data-on-hover='true'] {
      transition: transform 100ms ease-out;
      transform: translateX(0);
    }

    @media screen and (max-width: 47.9999rem) {
      padding-inline: 54px;
    }

    @media screen and (max-width: 28.75rem) {
      padding-inline-start: 33px;
      padding-inline-end: 24px;
    }
  }
}
